<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxx.mapper.AccountsMapper"><!--如果是动态代理就是namespace="com.cxx.mapper.XXXMapper",也就是接口的完全限定名称-->

    <!--
        int save(Accounts accounts);
        实体类private Integer aid;
            private String aname;
            private String acontent;
    -->
    <insert id="save" parameterType="accounts">
        insert into accounts values (#{aid},#{aname},#{acontent})
    </insert>
</mapper>