<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--&lt;!&ndash;创建业务对象&ndash;&gt;
    <bean id="someServiceImpl" class="com.cxx.s01.SomeServiceImpl"></bean>
    &lt;!&ndash;创建切面对象&ndash;&gt;
    <bean id="myAspectJ" class="com.cxx.s01.MyAspectJ"></bean>-->
    <!--用注解生成的对象需要包扫描-->
    <context:component-scan base-package="com.cxx.s01"></context:component-scan>
    <!--绑定-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>-->
    <!--这个proxy-target-class="true"会转换会子类代理CGLib的方式，这样可以用实现类或接口来接，不然只能用接口来接-->
</beans>